<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js">
	<head>
		<meta charset="UTF-8">
		
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<link rel="apple-touch-icon" sizes="57x57" href="costa/img/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="costa/img/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="costa/img/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="costa/img/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="costa/img/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="costa/img/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="costa/img/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="costa/img/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="costa/img/favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="costa/img/favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="costa/img/favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="costa/img/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="costa/img/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="costa/img/favicons/manifest.json">
		<link rel="mask-icon" href="costa/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="costa/img/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="costa/img/favicons/mstile-144x144.png">
		<meta name="msapplication-config" content="costa/img/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
		
<title>הקרוסלה של קופיט | קופיט</title>
<link rel="canonical" href="http://coupit.co.il/customer/carousela/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="הקרוסלה של קופיט | קופיט" />
<meta property="og:description" content="לא תמיד ישנה קרוסלה המסתובבת סביב אלפי אנשים סביב בית העסק שלך! בואו להכיר את שירות הקרוסלה של קופיט העולה בפייסבוק בכל שבוע! הצטרפו ובשרו לקהלי מטרה ממוקדים אודות הטבות משתלמות בבית העסק שלכם! הצטרפו עכשיו אתם בוחרים הטבה מנצחת ההטבה נכנסת לקרוסלת ההטבות של קופיט אנחנו דואגים שההטבה תגיע ל-2000 איש בסביבתכם על בסיס..." />
<meta property="og:url" content="http://coupit.co.il/customer/carousela/" />
<meta property="og:site_name" content="קופיט" />
<meta property="og:image" content="2015/12/carousela-1.png" />
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="לא תמיד ישנה קרוסלה המסתובבת סביב אלפי אנשים סביב בית העסק שלך! בואו להכיר את שירות הקרוסלה של קופיט העולה בפייסבוק בכל שבוע! הצטרפו ובשרו לקהלי מטרה ממוקדים אודות הטבות משתלמות בבית העסק שלכם! הצטרפו עכשיו אתם בוחרים הטבה מנצחת ההטבה נכנסת לקרוסלת ההטבות של קופיט אנחנו דואגים שההטבה תגיע ל-2000 איש בסביבתכם על בסיס..."/>
<meta name="twitter:title" content="הקרוסלה של קופיט | קופיט"/>
<meta name="twitter:image" content="2015/12/carousela-1.png"/>



<link rel='stylesheet' id='alefhebrew-css'  href='http://fonts.googleapis.com/earlyaccess/alefhebrew.css?ver=1.0' media='all' />
<link rel='stylesheet' id='animate-css'  href='costa/js/animate.css?ver=1.0' media='all' />
<link rel='stylesheet' id='magnific-css'  href='costa/js/magnific-popup.css?ver=1.0' media='all' />
<link rel='stylesheet' id='owl-css'  href='costa/js/owl.css?ver=1.0' media='all' />
<link rel='stylesheet' id='html5blank-css'  href='costa/style.css?ver=1.0' media='all' />
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js?ver=1.9.1'></script>
<script type='text/javascript' src='costa/js/matchheight.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/slidebars.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/wow.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/jquery.mousewheel.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/magnific-popup.js?ver=3.0.3'></script>
<script type='text/javascript' src='costa/js/legacy.min.js?ver=3.0.3'></script>
<script type='text/javascript' src='costa/js/parallax.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/mixitup.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/owl.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/jquery.simplr.smoothscroll.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/benefits/handlebars-v3.0.3.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/benefits/moment.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/scripts.js?ver=1.0.0'></script>


</head>
<body>
			</div>
		</header>	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/he_IL/sdk.js#xfbml=1&version=v2.4&appId=253103141458673";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<div class="top" style="background-image:url(http://coupit.co.il/wp-content/uploads/2015/10/X30GHMW1.jpg)">
	<div class="c h">
					<h1>הקרוסלה של קופיט</h1>
				
		<div id="breadcrumbs"><span xmlns:v="http://rdf.data-vocabulary.org/#"><span typeof="v:Breadcrumb"><a href="http://coupit.co.il" rel="v:url" property="v:title">דף הבית</a> / <span rel="v:child" typeof="v:Breadcrumb"><a href="http://coupit.co.il/customer/" rel="v:url" property="v:title">עסקים</a> / <span class="breadcrumb_last">הקרוסלה של קופיט</span></span></span></span></div>	</div>
</div>
	<div class="main">
		<div class="c h">
					<div id="post-219" class="post-219 page type-page status-publish hentry">
				<div id="pl-219"><div class="panel-grid" id="pg-219-0" ><div class="panel-grid-cell" id="pgc-219-0-0" ><div class="so-panel widget widget_text panel-first-child" id="panel-219-0-0-0"><div style="font-size:1.5em;text-align:center;font-weight:100;padding: 20px;" class="panel-widget-style" ><h3 class="widget-title">לא תמיד ישנה קרוסלה המסתובבת סביב אלפי אנשים סביב בית העסק שלך!</h3>			<div class="textwidget">בואו להכיר את שירות הקרוסלה של קופיט העולה בפייסבוק בכל שבוע! הצטרפו ובשרו לקהלי מטרה ממוקדים אודות הטבות משתלמות בבית העסק שלכם!</div>
		</div></div><div class="so-panel widget widget_sow-editor" id="panel-219-0-0-1"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div class="aligncenter c"><a class="pop action" href="#carousela-form">הצטרפו עכשיו</a></div>
<div id="carousela-form" class="white-popup mfp-hide">
<div role="form" class="wpcf7" id="wpcf7-f245-p219-o5" lang="he-IL" dir="rtl">
<div class="screen-reader-response"></div>
<form action="/customer/carousela/#wpcf7-f245-p219-o5" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="245" /><br />
<input type="hidden" name="_wpcf7_version" value="4.3.1" /><br />
<input type="hidden" name="_wpcf7_locale" value="he_IL" /><br />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f245-p219-o5" /><br />
<input type="hidden" name="_wpnonce" value="06e6670298" />
</div>
<fieldset><span class="wpcf7-form-control-wrap name"><input type="text" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="שם" /></span></fieldset>
<fieldset><span class="wpcf7-form-control-wrap phone"><input type="tel" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="טלפון" /></span></fieldset>
<fieldset><span class="wpcf7-form-control-wrap mail"><input type="email" name="mail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" aria-invalid="false" placeholder="דוא&#039;&#039;ל" /></span></fieldset>
<fieldset><span class="wpcf7-form-control-wrap text"><textarea name="text" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="הערות"></textarea></span></fieldset>
<fieldset><input type="submit" value="שלחו לנו את זה!" class="wpcf7-form-control wpcf7-submit" /></fieldset>
<div class="wpcf7-response-output wpcf7-display-none"></div>
</form>
</div>
</div>
</div>
</div></div><div class="so-panel widget widget_sow-image panel-last-child" id="panel-219-0-0-2"><div style="box-shadow:0 0 10px rgba(0,0,0,.4);background:#fff;margin:20px;padding: 20px;" class="panel-widget-style" ><div class="so-widget-sow-image so-widget-sow-image-sow-image-3f547a15eaaa">

<div class="sow-image-container">
	<img src="2015/12/carousela-1.png" width="891" height="485" srcset="2015/12/carousela-1-250x136.png 250w, 2015/12/carousela-1-768x418.png 768w, 2015/12/carousela-1-700x381.png 700w, 2015/12/carousela-1.png 891w" alt="הקרוסלה של קופיט - דוגמה להטבות מוצגות בפייסבוק"  class="so-widget-image"/>
</div>

</div></div></div></div></div><div class="panel-grid" id="pg-219-1" ><div class="panel-grid-cell" id="pgc-219-1-0" ><div class="so-panel widget widget_sow-editor panel-first-child" id="panel-219-1-0-0"><div class="text panel-widget-style" ><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<ol>
<li>אתם בוחרים הטבה מנצחת</li>
<li>ההטבה נכנסת לקרוסלת ההטבות של קופיט</li>
<li>אנחנו דואגים שההטבה תגיע ל-2000 איש בסביבתכם על בסיס מאפיינים רלוונטיים</li>
</ol>
</div>
</div></div></div><div class="so-panel widget widget_sow-editor" id="panel-219-1-0-1"><div style="text-align:center;" class="panel-widget-style" ><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<h2>לפרטים נוספים ויצירת קשר מלאו פרטים ואנו ניצור איתכם קשר בהקדם</h2>
</div>
</div></div></div><div class="so-panel widget widget_sow-editor panel-last-child" id="panel-219-1-0-2"><div class="so-widget-sow-editor so-widget-sow-editor-base">
<div class="siteorigin-widget-tinymce textwidget">
	<div role="form" class="wpcf7" id="wpcf7-f245-p219-o6" lang="he-IL" dir="rtl">
<div class="screen-reader-response"></div>

</div>
</div>
</div></div></div></div></div>			</div>
						</div>
	</div>
		<footer class="footer" role="contentinfo">
			
			</div>
		</footer>
		
	<div class="fb-like" data-href="https://www.facebook.com/CoupIT" data-width="90" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
</body>
	</html>

