<!doctype html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js">
	<head>
		<meta charset="UTF-8">
		
		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
		<link rel="apple-touch-icon" sizes="57x57" href="costa/img/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="costa/img/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="costa/img/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="costa/img/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="costa/img/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="costa/img/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="costa/img/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="costa/img/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="costa/img/favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="costa/img/favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="costa/img/favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="costa/img/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="costa/img/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="costa/img/favicons/manifest.json">
		<link rel="mask-icon" href="costa/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="costa/img/favicons/favicon.ico">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="costa/img/favicons/mstile-144x144.png">
		<meta name="msapplication-config" content="costa/img/favicons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">ng-pluralize count="string" when="" offset=""></ng-pluralize>
<title>המלצות של לקוחותינו</title>
<link rel="canonical" href="http://coupit.co.il/about/testimonials/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="המלצות של לקוחותינו" />
<meta property="og:description" content="תודה לכל הממליצים שלנו. דעו כי אנו עובדים פה הכי קשה בעולם בכדי שנוכל תמיד להציג הטבות שכולם בוודאי יאהבו. עם זאת חשוב לי לספר כי בעלי העסקים מאוד חשובים לנו ולכן אנו נקפיד לפרסם את ההטבות במקומות רבים שהגולשים יאהבו לפגוש. בעתיד אנו נחל להפיץ את ההטבות ברשתות המדיה הרבות, זאת בצד האפליקציה והאתר..." />
<meta property="og:url" content="http://coupit.co.il/about/testimonials/" />
<meta property="og:site_name" content="קופיט" />
<meta name="twitter:card" content="summary"/>
<meta name="twitter:description" content="תודה לכל הממליצים שלנו. דעו כי אנו עובדים פה הכי קשה בעולם בכדי שנוכל תמיד להציג הטבות שכולם בוודאי יאהבו. עם זאת חשוב לי לספר כי בעלי העסקים מאוד חשובים לנו ולכן אנו נקפיד לפרסם את ההטבות במקומות רבים שהגולשים יאהבו לפגוש. בעתיד אנו נחל להפיץ את ההטבות ברשתות המדיה הרבות, זאת בצד האפליקציה והאתר..."/>
<meta name="twitter:title" content="המלצות של לקוחותינו"/>

<link rel='stylesheet' id='siteorigin-panels-front-css'  href='plugins/siteorigin-panels/css/front.css?ver=2.2.2' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='plugins/contact-form-7/includes/css/styles.css?ver=4.3.1' media='all' />
<link rel='stylesheet' id='wp-pagenavi-css'  href='plugins/wp-pagenavi/pagenavi-css.css?ver=2.70' media='all' />
<link rel='stylesheet' id='alefhebrew-css'  href='http://fonts.googleapis.com/earlyaccess/alefhebrew.css?ver=1.0' media='all' />
<link rel='stylesheet' id='animate-css'  href='costa/js/animate.css?ver=1.0' media='all' />
<link rel='stylesheet' id='magnific-css'  href='costa/js/magnific-popup.css?ver=1.0' media='all' />
<link rel='stylesheet' id='owl-css'  href='costa/js/owl.css?ver=1.0' media='all' />
<link rel='stylesheet' id='html5blank-css'  href='costa/style.css?ver=1.0' media='all' />
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js?ver=1.9.1'></script>
<script type='text/javascript' src='costa/js/matchheight.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/slidebars.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/wow.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/jquery.mousewheel.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/magnific-popup.js?ver=3.0.3'></script>
<script type='text/javascript' src='costa/js/legacy.min.js?ver=3.0.3'></script>
<script type='text/javascript' src='costa/js/parallax.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/mixitup.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/owl.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/jquery.simplr.smoothscroll.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/benefits/handlebars-v3.0.3.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/benefits/moment.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='costa/js/scripts.js?ver=1.0.0'></script>
<script type='text/javascript' src='plugins/svg-support/js/min/svg-inline-min.js?ver=1.0.0'></script>


	</head>



<body>
			</div>
		</header>		<div class="myTop" data-parallax="scroll" data-image-src="">
		<div class="c h">
			<h1>המלצות של לקוחותינו</h1>
		</div>
	</div>
	
		<div class="tests">
		<div class="c h">
						<figure>
				<p>קופיט היא אפליקציה שכל בעל עסק חייב במכשיר הטלפון.. זה הדבר הבא ואנחנו כבר שם.</p>
				<span>
					<img alt="רום ברוקנר" src="">
					<b>רום ברוקנר</b>
					<strong>לחם ארז</strong>
				</span>
			</figure>
						<figure>
				<p>עם קופיט אני מצליח לקבל הרבה פניות טלפוניות והצוות שלי יודע בקלות להקנות את ההטבות ללקוחות</p>
				<span>
					<img alt="אבי סבח" src="http://coupit.co.il/wp-content/uploads/2015/10/lQN6i8T1.png">
					<b>אבי סבח</b>
					<strong>קפה קפה</strong>
				</span>
			</figure>
						<figure>
				<p>אני קצת מבוגר והרבה שנים בעסק. שמחתי לפגוש אפשרות לפרסם בעולם האינטרנט בקלות וממש בפשטות.</p>
				<span>
					<img alt="פיני רבינוביץ" src="http://coupit.co.il/wp-content/uploads/2015/10/e8DHyTk1.png">
					<b>פיני רבינוביץ</b>
					<strong>המרכז לבניין</strong>
				</span>
			</figure>
						<figure>
				<p>הצלחתי בקלות ליצור הטבות גם בשעות העומס ורבים מלקוחותי שמחו לדעת שאני מציע הטבות חדשות למוצרים חדשים. </p>
				<span>
					<img alt="נמרוד בן דויד" src="http://coupit.co.il/wp-content/uploads/2015/10/W5ojl5y1.png">
					<b>נמרוד בן דויד</b>
					<strong>מנכ&quot;ל Gaint ישראל</strong>
				</span>
			</figure>
						<figure>
				<p>מערכת בלתי רגילה שמאפשרת לי להגיע לעולם הדיגיטלי במינימום עלות ומקסימום רווח בקופה. תודה ענקית לקופיט על ההזדמנות להיות בתוכנית ההשקה!</p>
				<span>
					<img alt="אלירז בן שושן" src="http://coupit.co.il/wp-content/uploads/2015/10/YrzvO8k1.png">
					<b>Roy Kaplan</b>
					<strong>Food &amp; More</strong>
				</span>
			</figure>
						<figure>
				<p>קופיט זה הדור הבא של עולם ההטבות ללא ספק!</p>
				<span>
					<img alt="חגי דוד" src="http://coupit.co.il/wp-content/uploads/2015/10/i8iSDSr1.png">
					<b>חגי דוד</b>
					<strong>טרוניקס מחשבים</strong>
				</span>
			</figure>
						<figure>
				<p>לא מכיר בעל עסק שלא רוצה להגדיל את קהל היעד שלו.. קופיט זה הפתרון המושלם עבורי.!</p>
				<span>
					<img alt="ליאור אוזר" src="http://coupit.co.il/wp-content/uploads/2015/10/zgR9OX61.png">
					<b>ליאור אוזר</b>
					<strong>קפה אגוז</strong>
				</span>
			</figure>
						<figure>
				<p>כמה פשוט ככה גאוני, החברה של קופיט גילו לי עולם חדש של שיווק.</p>
				<span>
					<img alt="צדוק דר" src="http://coupit.co.il/wp-content/uploads/2015/10/EqwU2Kx1.png">
					<b>צדוק דר</b>
					<strong>אופנת דון ז&#039;ואן</strong>
				</span>
			</figure>
					</div>
	</div>
	
		<footer class="footer" role="contentinfo">
			<div class="c h">
				<div class="c h">

</div>
			</div>
		</footer>
		</body>
	</html>

