<div class="modal-header">
    <a class="fa fa-close" ng-click="cancel()"></a>
    <h3>בעל עסק? תשאירו פרטים ואנו נחזור אליכם בהקדם</h3>
</div>
<form name="form.userForm" ng-submit="submitForm()" novalidate>
    <div class="modal-body2">

        <!-- EMAIL -->
        <div class="form-group2">
            <center>

            <input type="name" name="name" class="form-control andromeda" ng-model="name" placeholder="שם" dir="rtl" required style="border-bottom: 1px solid #9A9A9A;">
            <input type="name" name="tel" class="form-control andromeda" ng-model="tel" placeholder="טלפון" dir="rtl" required style="border-bottom: 1px solid #9A9A9A;">
            <input type="email" name="email" class="form-control andromeda" ng-model="email" placeholder="דוא''ל" dir="rtl" required style="border-bottom: 1px solid #9A9A9A;">
            </center>
            <center>
            <p ng-show="form.userForm.email.$invalid && !form.userForm.email.$pristine" class="help-block" dir="rtl">הזן כתובת דוא"ל חוקית.</p>
            <textarea name="mensaje" class="form-control andromeda" ng-model="mensaje" placeholder="הערות" dir="rtl" style="border-bottom: 1px solid #9A9A9A;"></textarea>
            </center>


        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-success" dir="rtl" ng-disabled="form.userForm.$invalid" ng-click="sendMailContacto(name,tel,email,mensaje)">שלחו לנו את זה!</button>

    </div>
</form>
