<div class="modal-header">
            <a class="popup-modal-dismiss" ng-click="cancel()"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 612 612" xml:space="preserve"><polygon points="612 36 576.5 0.6 306 270.6 35.5 0.6 0 36 270.5 306 0 576 35.5 611.4 306 341.4 576.5 611.4 612 576 341.5 306 "></polygon></svg></a>
            <h3 class="modal-title ">מידע נוסף</h3>

        </div>

        <div class="modal-body">

<!--
        <li class="map">
                       <div map-lazy-load="https://maps.google.com/maps/api/js"
                          map-lazy-load-params="{{googleMapsUrl}}">
                          <ng-map center={{item.loc}} zoom="3"> <marker position={{item.loc}}></div></ng-map>
                        </div>
                        </li>  -->
			
			<div class="list-group3">
                <div class="list-group-itemModal" ng-repeat="item in items">

                	<div class="mBenefit">
                		<div class="mBenimg" ng-style="{'background-image': 'url({{item.imagenGrande}})'}"></div>
                	</div>

                    <div class="contBtn bar wow tada animated">
                             <div class="contenedorBtn">
                                  <div class="bar_grey">
                                      <div class="prices">
                                         <b class="wow tada animated" style="visibility: visible; animation-name: tada;"><span>₪</span>{{item.precioAhora}}</b>
                                         <strong>{{item.precioAntes}}₪</strong>
                                     </div>
                                  </div>  
                                  <a class="bar_green">
                                   <span>תן לי את זה</span>
                                   <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 451.8 451.8" xml:space="preserve"><path d="M97.1 225.9c0-8.1 3.1-16.2 9.3-22.4L300.7 9.3c12.4-12.4 32.4-12.4 44.8 0 12.4 12.4 12.4 32.4 0 44.7L173.5 225.9l171.9 171.9c12.4 12.4 12.4 32.4 0 44.7 -12.4 12.4-32.4 12.4-44.7 0l-194.3-194.3C100.2 242.1 97.1 234 97.1 225.9z"></path></svg>
                                  </a>
                                  
                                  </div>   
                             </div>


                           <div class="single_info">
                                        <div class="single_title">
                                            <h1>{{item.couponName}}</h1>
                                            <b>{{item.description}}</b>
                                            <br/>
                                            <br/>
                                            <span>הטבה מספר {{item.couponNumber}} | בתוקף עד {{item.valido}} בערב</span>
                                        </div>
                                        <div class="single_company">
                                            <img src={{item.logo}}>
                                            <h2>{{item.empresa}}</h2>

                                        </div>
                        </div>
                         <div class="benefit_icons">
                        <div class="chincho wow bounceIn animated" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceIn;"><i class="fa fa-facebook-square"></i></div>
                        <div class="chincho wow bounceIn animated" style="visibility: visible; animation-delay: 1.5s; animation-name: bounceIn;"><i class="fa fa-external-link"></i></div>
                        <div class="chincho wow bounceIn animated" style="visibility: visible; animation-delay: 2.0s; animation-name: bounceIn;"><i class="fa fa-history"></i></div>
                        <div class="chincho wow bounceIn animated" style="visibility: visible; animation-delay: 2.5s; animation-name: bounceIn;"><i class="fa fa-map-marker"></i></div>
                        <div class="chincho wow bounceIn animated" style="visibility: visible; animation-delay: 3s; animation-name: bounceIn;"><i class="fa fa-share-alt"></i></div>
                        <div class="chincho wow bounceIn animated" style="visibility: visible; animation-delay: 3.5s; animation-name: bounceIn;"><i class="fa fa-phone"></i><h3>{{item.tel}}</h3></div>
                        </div>
            </div>
        </div>

</div>
        <div class="modal-footer">

            <span>עד גמר המלאי, תקף בהצגת ההטבה בנייד/הזמנה טלפונית, התמונות להמחשה .בלבד, ט.ל.ח, ללקוחות חדשים, הטבה אחת ללקוח<span>
           <!-- <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
        </div>