<div class="modal-header modal-headerOne" ng-controller="">
   <a class="fa fa-close" ng-click="cancel()"></a>
    <h3 dir="rtl">במה אתה מעוניין?</h3>
</div>

<dir class="modal-body4">
<center>
<button type="button" class="chincho2b wow bounceIn animated" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"><i class="glyphicon glyphicon-bullhorn"></i><br/><h4 dir="rtl">למדו על הדיגיטל</h4></button>

<button type="button" class="chincho2 wow bounceIn animated" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;" ng-click="showModalContacto()"><i class="glyphicon glyphicon-earphone"></i><br/><h4 dir="rtl">רוצה שנחזור אליך</h4></button>


<button type="button" class="chincho2 wow bounceIn animated" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;" ng-click="showModalMasBene()"><i class="glyphicon glyphicon-plus-sign"></i><br/><h4 dir="rtl">העלאה הטבה או מוצר</h4></button>

</center>
</dir>
