<div style="width: 90%;margin-top: 90px;">
<div style="width: 80%; text-align: right; margin-bottom:100px">
<p style="width: 100%" dir="rtl">
<b style="width: 100%" dir="rtl">תקנון – גרסה 05-2016</b>
</p>
<p style="width: 100%" dir="rtl">
אנו ממליצים לקרוא את התקנון בטרם השימוש בשירותים שלנו. היה ובחרתם לא לקרוא, המשמעות היא
שאתם סומכים עלינו ולא תבואו בטענות בעתיד. אחרת נא קראו.
</p>

<p style="width: 100%" dir="rtl">
1. <b>כללי</b>	
</p>

<p style="width: 100%" dir="rtl">

1.1 מטעמי נוחות בלבד, תקנון זה נכתב בלשון זכר. אנו מתנצלים מראש אם מישהי נפגע
מהנוחות שלנו.
</p>

<p style="width: 100%" dir="rtl">
1.2 ספק השירות באמצעותו יוצע לכם השירות הינו חברת ווטאליקס טכנולוגיות בע&quot;מ (להלן
בהתאמה: &quot;ספק השירות ו - &quot;הספק&quot;), אשר תציע לכם שימוש בשירות הידוע גם כ&quot;קופיט&quot;
אך ורק בכפוף לתקנון זה (להלן: &quot;השירות&quot;)
</p>

<p style="width: 100%" dir="rtl">
1.3 הספק הוא הבעלים הרשום של כלל התכנים הדיגיטליים לרבות אך לא רק אתר האינטרנט
והאפליקציה. פרטי הקשר של הספק הינם: ווטאליקס טכנולוגיות בע&quot;מ, מרחוב חלוצי
התעשייה 54 מפרץ חיפה, ת&quot;ד 10236. פרטי הקשר הינם:<br/>
דואר אלקטרוני:   coupit@votalix.com

פקס:              03-5212183<br/>

טלפון:             09-8655405<br/>
</p>

<p style="width: 100%" dir="rtl">
1.4 השירות אשר מוצע על ידי ספק השירות הינו מתן אפשרות לצריכה וייצור הטבות בין כלל המשתמשים בשירות.
</p>
<p style="width: 100%" dir="rtl">
1.5 מובהר, כי רק בעלי עסקים יהיו רשאים ליצור הטבות וזאת בכפוף לתקנון השימוש ושיקולדעתו הבלעדי של הספק.
</p>
<p style="width: 100%" dir="rtl">
1.6 ספק השירות יציע לבעלי עסקים מסוגים שונים בכפוף לשיקול דעתו הבלעדי, אפשרות ליצור
ולהנגיש הטבות אודות שירותם ו/או מוצרים (להלן: &quot;ספקי ההטבות&quot;) לכלל המשתמשים
בשירות שיוכלו לצרוך/לשמור את ההטבות המוצעות (להלן: &quot;צרכני הטבות&quot;).
</p>
<p style="width: 100%" dir="rtl">
1.7 מובהר כי תחת הגדרת צרכני ההטבות, יוגדרו כל אלו אשר באפשרותם לשמור הטבה בכלצורה שהיא שכן גם לספקי ההטבות היכולת ליהנות מהטבות של ספקים אחרים.
</p>
<p style="width: 100%" dir="rtl">
1.8 כל המבצע פעולה כלשהי בשירות מקבל על עצמו את תנאי תקנון זה, כמי שהתחייב לקרוא
אותו בעיון ובדקדוק, וככזה מקבל על עצמו, ללא סייג, באופן בלתי חוזר, את כל האמור
בתקנון זה. תקנון זה מהווה הסכם לכל דבר וענין בין השירות למשתמשים בו, ללא הבחנה
בין סוגי המשתמשים והשירותים השונים המוצעים על ידי הספק, בין אם המשתמש הוא
ספקי הטבות ו/או צרכני הטבות (להלן יחדיו: &quot;המשתמשים&quot;).
</p>

<p style="width: 100%" dir="rtl">
2. <b>הטבות</b>	
</p>

<p style="width: 100%" dir="rtl">
2.1 ספקי ההטבות יוכלו להשתמש בשירות ולהציע באמצעותו הטבות שונות לכלל המשתמשים.
</p>
<p style="width: 100%" dir="rtl">
2.2 ההטבות יכילו את הפרטים אשר ספק ההטבות יזין. מובהר כי רק ספק ההטבות אחראי
לפרטי ההטבה, לתוכנה ולחובה לכבדה.
</p>
<p style="width: 100%" dir="rtl">
2.3 כל הטבה כמוה כהצעה למשתמשים וכל שימוש בהטבה מצד המשתמשים תחשב כמענה
למוצע על ידי המשתמשים. חוק החוזים חל על כל ספקי ההטבות ללא יוצא מן הכלל.
</p>
<p style="width: 100%" dir="rtl">
2.4 השירות יאפשר לספקי ההטבות לשנות, לערוך, לסיים, להאריך וכיוצ&#39; את מאפייני ההטבה
לאחר שיוצרה על ידם. מובהר, כי משתמשים אשר שמרו את ההטבה בתצורתה ותוכנה
הראשוני, מחייבים את ספקי ההטבות לספק להם את המתואר בהטבה כפי שזו נשמרה
עבורם.
</p>

<p style="width: 100%" dir="rtl">
2.5 ספקי ההטבות מתחייבים שלא לתבוע את הספק בכל עילה שהיא בכל הקשור לנושא
לפרסום ההטבות והנגשתם למשתמשים.
</p>

<p style="width: 100%" dir="rtl">
3. <b>צרכני ההטבות</b>	
</p>

<p style="width: 100%" dir="rtl">
3.1 השירות לצרכני ההטבות הינו חינמי לחלוטין והשימוש עבורם בשירות חינם.
</p>

<p style="width: 100%" dir="rtl">
3.2 היכולת לצרוך הטבה שנשמרה יכולה להיות אנונימית והצרכן אינו חייב בשום אמצעי
בבקשה לקבל ו/או לדרוש את ההטבה ששמר אלא אם תנאי ההטבה דורשים כך.
</p>
<p style="width: 100%" dir="rtl">
3.3 הספק ינגיש לצרכני ההטבות הטבות מסוגים שונים אשר פורסמו בשירות על ידי ספקי
ההטבות מתחומים שונים ומגוונים.
</p>
<p style="width: 100%" dir="rtl">
3.4 צרכני ההטבות יוכלו ליהנות מההטבות בהתאם לתוכנם ותנאיהם כפי שפורטו באמצעות
ספקי ההטבות ובאחריותם של ספקי ההטבות.
</p>
<p style="width: 100%" dir="rtl">
3.5 לספק השירות לא תהיה אחריות כלפי המפורסם. האחריות הבלעדית להטבה הינה של ספקי ההטבות.
</p>
<p style="width: 100%" dir="rtl">
3.6 במסגרת מערכת תגובות להטבות, פתוחה וגלויה לכל, יוכלו המשתמשים לכתוב חוות דעת
אודות ההטבה ו/או ספק ההטבות. מובהר כי על כל תגובה להיכתב בלשון ראויה ונאותה.
אין להשמיץ ולפגוע במשתמשים ובספקי ההטבות בכל צורה שהיא. מטרת כתיבת התגובות
הינה בגדר המלצה אישית של המשתמשים ולספק השירות אין כל אחריות ישירה לנכתב.
עוד מובהר כי אין לראות בספק השירות כממליץ ו/או שולל הטבה זו או אחרת.
</p>
<p style="width: 100%" dir="rtl">
3.7 הספק מפעיל ניהול של התגובות ושמורה לו הזכות למחוק ו/או לערוך תגובות. מובהר כי
נושאי העריכה יחולו מבלי לפגוע באפקטיביות הכתוב.</p>
<p style="width: 100%" dir="rtl">
3.8 הספק שומר לעצמו את הזכות ליצור קשר עם כותבי התגובות ולדון בנוגע לסיבה בגינה
בחרו לכתוב את שנכתב.
</p>
<p style="width: 100%" dir="rtl">
3.9 פרטי צרכני ההטבות לא ימסרו לאיש ו/או לכל צד שלישי. הספק ישמור על פרטי צרכני
ההטבות אלא אם הסכימו אחרת.
</p>
<p style="width: 100%" dir="rtl">
3.10 מובהר כי הגם שצרכני ההטבות נרשמו לשירות, הם רשאים לצרוך את ההטבה באופן חסוי.
אין לצרכני ההטבות כל חובה להציג עצמם ו/או פרט מזהה לקבלת ההטבה למעט הצגת
ההטבה לספק ההטבה והכול על פי תנאיה.
</p>

<p style="width: 100%" dir="rtl">
4. <b> אחריות ספק השירות</b>	
</p>


<p style="width: 100%" dir="rtl">
4.1 ספק השירות לא יהיה אחראי כלפי כל סוג של מחלוקות בין צרכני ההטבות, ספקי ההטבות
וכן כל צד ג&#39; מכל סוג שהוא נשוא השירות, ותהא הסיבה אשר תהא למעט אלו שנקבעו על
פי חוק כסוג הדברים שספק השירות חב בהם.
</p>
<p style="width: 100%" dir="rtl">
4.2 ספק השירות איננו כפוף לחוק הגנת הצרכן (להלן: &quot;החוק&quot;) אשר חל במדינת ישראל. היה
והשימוש איננו במדינת ישראל, ספק השירות לא יהיה כפוף אף לחוק הדומה בתוכנו ו/או
במטרתו לחוק במדינה בו השתמשו המשתמשים בשירות.
</p>
<p style="width: 100%" dir="rtl">
4.3 הספק אינו מספק כל מוצר פיזי לצרכני ההטבות ועל כן איננו צד לכל התנהלות עסקית בין
כלל המשתמשים בשירות. ככזה, אין לראות את הספק כצד לתהליך הסחר.
</p>
<p style="width: 100%" dir="rtl">
4.4 הספק יפעל לסייע במחלוקת בין צרכני וספקי ההטבות רק באם יחול מקרה קיצון שיחייב
התערבותו ורק לאחר פניה מראש בכתב. מקרי הקיצון שנקבעו על ידי הספק, הינם על פי
שיקול דעתו הבלעדי או כאלו המחייבים אותו על פי חוק.
</p>
<p style="width: 100%" dir="rtl">
4.5. הספק מאפשר שימוש בשירותים בכפוף לשיקוליו העסקיים ולו תהא הסמכות הבלעדית
והיחידה לגבי פרסום הטבות מכל סוג שהוא. עצם פרסום ההטבה בשירות אינה מחייבת את
הספק בכל חובה מכל סוג שהוא.
</p>
<p style="width: 100%" dir="rtl">
4.5 הבלעדית הסמכות תהא ולו העסקיים לשיקוליו בכפוף בשירותים שימוש מאפשרהספק
את מחייבת אינה בשירות ההטבה פרסום עצם שהוא. סוג מכל הטבות פרסום לגביוהיחידה
</p>
<p style="width: 100%" dir="rtl">
4.6 הספק אינו אחראי בין היתר: לאיכות המוצרים והשירותים וכל פירוט שהוצג על ידי ספקי
ההטבות, זמני האספקה, הפרטים שפורסמו לגבם, התאמה לתמונות שפורסמו, המפרט
הטכני, התאמתם לצרכני ההטבות, שירותם של ספקי ההטבות, קביעת המחירים, תיקונים,
בלאי, זהות היצרנים של המוצרים וכיו&quot;ב עניינים הקשורים באופן כלשהו. היעדר אחריותו
של הספק תחול בין אם באופן ישיר או עקיף.
</p>

<p style="width: 100%" dir="rtl">
4.7 תמונות המוצרים/השירותים בשירות הנן להמחשה בלבד, כפי שהוזנו על ידי ספקי ההטבות.
</p>
<p style="width: 100%" dir="rtl">
4.8 ספק השירות אינו מפקח ואינו אחראי על אמינות ו/או דיוק המידע המוצג על-ידי ספקי ההטבות.
</p>
<p style="width: 100%" dir="rtl">
4.9 ספק השירות שומר לעצמו את הזכות להפסיק את פעילות השירות בכל עת, לכל פרק זמן
בהתאם לצרכיו, לצורך תחזוקה, וכן לסגירת השירות ולכל מטרה ומכל סיבה אחרת.
הפסקת פעילות כאמור (זמנית או קבועה) לא תחייב הודעה מראש או הנמקה כלשהם לאף גורם.
</p>
<p style="width: 100%" dir="rtl">
4.10 מבלי לפגוע באמור לעיל, ככל שמופיע קישור חיצוני בשירות, בין אם למפת ניווט ובין אם
לכל תוכן שהוא, הספק לא יהיה אחראי באופן כלשהו לתכניו של אותו קישור, לדרך הניווט
שתוצע בשירות, וכן למידע שמתפרסם בו, תמונות המופיעות בו, וכן לכל הסתמכות על כל
אלו ולכל נזק, הוצאה ואבדן רווחים שיגרמו כתוצאה ו/או בקשר עם אותו קישור חיצוני.
</p>

<p style="width: 100%" dir="rtl">
5. <b>זמינות השירות</b>	
</p>

<p style="width: 100%" dir="rtl">
5.1 הספק יפעיל את השירות בהתאם ליכולותיו.
</p>

<p style="width: 100%" dir="rtl">
5.2 השירות יהיה זמין 24 שעות, 7 ימים בשבוע.
</p>

<p style="width: 100%" dir="rtl">
5.3 מובהר כי יתכנו תקלות שיש בהן למנוע את השימוש בשירות.
</p>

<p style="width: 100%" dir="rtl">
5.4 הספק יפעל בכל כליו לטיפול בתקלות ככל שיופיעו.
</p>

<p style="width: 100%" dir="rtl">
5.5 מובהר כי זו גרסה ראשונית של השירות וככזו השכיחות של תקלות עד ליום 1-1- 2016
תהא גבוהה במעט מהסטנדרט המקובל.
</p>



<p style="width: 100%" dir="rtl">
5.6 הספק אינו מתחייב לזמינות לתיקון תקלות בכל צורה שהיא.
</p>
<p style="width: 100%" dir="rtl">
5.7 המוצא עצמו נפגע מן השירות בשל תקלות, יכול להפסיק את השימוש בשירות.
</p>

<p style="width: 100%" dir="rtl">
6. <b>  שירות לקוחות</b>	
</p>

<p style="width: 100%" dir="rtl">
6.1 הספק יעמיד תמיכה טכנית ושירות לקוחות לכלל המשתמשים בימים א&#39; – ה&#39;, בין השעות 9:30 – 19:00.
</p>
<p style="width: 100%" dir="rtl">
6.2 הספק יפעל למתן מענה לפונים בתוך שלושה ימי עסקים לכל המאוחר.
</p>
<p style="width: 100%" dir="rtl">
6.3 פניות בנוגע לספקי הטבות שעניינן בירור או תקלה, יטופלו בתוך יום עסקים אחד.
</p>

<p style="width: 100%" dir="rtl">
7. <b> ספקי ההטבות</b>	
</p>

<p style="width: 100%" dir="rtl">
7.1 ספקי ההטבות יוכלו ליצור באמצעות השירות הטבות שעניינם שירות ו/או מוצר אשר יוצע
לצרכני ההטבות ויונגשו אליהם באמצעות השירות (להלן: &quot;הטבות&quot;).
</p>
<p style="width: 100%" dir="rtl">
7.2 על ספק ההטבות החובה לכבד את ההטבות שיצר מיד עם הצגתה בבית העסק ובכפוף
לתנאים שנקבעו בה.
</p>
<p style="width: 100%" dir="rtl">
7.3 הספק בלבד, יאשר מי רשאי לספק הטבות ומי לא והכול על פי שיקול דעתו הבלעדי ותחת
קריטריונים עסקיים שעניינם הטבה עם עסקיו של הספק בלבד ועל פי שיקוליו שלו.
המוצאים עצמם נפגעים בשל עמדה זו, רשאים לבחור שלא להשתמש בשירות.
</p>
<p style="width: 100%" dir="rtl">
7.4 מובהר, כי רק ספקי ההטבות רשאים ליצור הטבות ולהציעם לצרכני ההטבות.
</p>
<p style="width: 100%" dir="rtl">
7.5 לספק השירות לא תהא כל חבות כלפי ספקי ההטבות ו/או צרכני ההטבות ביחס לטיב
ההטבות, כיבודן, היקף טיבן, אחריות ספקי ההטבות כלפי צרכני ההטבות ו/או כל נושא
מחלוקת מכל סוג שהיא בין ספקי ההטבות לצרכני ההטבות, תהא המחלוקת אשר תהא.
מובהר כי לספקי ההטבות החובה המשפטית לפרסום ההטבות, תוכנן וכיבודן.
</p>
<p style="width: 100%" dir="rtl">
7.6 הספק אינו אחראי לאופן השימוש בשירות כלפי ספקי ההטבות ו/או צרכני ההטבות, וכן לכל
כשל מכל סוג שהוא במימוש ההטבות אשר יוצעו באמצעות השירות, זה ללא סייג מכל סוג שהוא.
</p>
<p style="width: 100%" dir="rtl">
7.7 מובהר כי הספק עניינו בהגשת השירות בלבד לנוחות ספקי ההטבות וצרכני ההטבות.
</p>
<p style="width: 100%" dir="rtl">
7.8 אם מי מן המשתמשים אינו מסכים לתנאי כלשהו מתנאי השימוש ותקנון זה, נבקשו כי ימנע
משימוש בשירות.
</p>

<p style="width: 100%" dir="rtl">
8. <b> שירות רשת השותפים</b>	
</p>

<p style="width: 100%" dir="rtl">
8.1 רשת השותפים מאפשרת לספק להתקשר עם אתרי אינטרנט, פלטפורמות דיגיטליות ועוד
(להלן: &quot;שותפי תוכן&quot;), ולהציג הטבות ומוצרים חדשים שנתקבלו מספקי ההטבות בערוצים
אלו.
</p>
<p style="width: 100%" dir="rtl">
8.2 התשלום בגין שירות זה, יקבע בין ספקי ההטבות לבין ספק השירות.
</p>
<p style="width: 100%" dir="rtl">
8.3 ספק השירות יקבע באופן בלעדי היכן יוצגו ההטבות והמוצרים החדשים בשותפי התוכן.
</p>
<p style="width: 100%" dir="rtl">
8.4 לספקי ההטבות לא תהיה כל יכולת, זכות, ו/או סמכות להורות ו/או לפעול בצד שותפי התוכן
לקידום ההטבות ו/או המוצרים המועברים על ידי ספק השירות.
</p>
<p style="width: 100%" dir="rtl">
8.5. לספק הזכות הבלעדית להצגת כלל ההטבות והמוצרים השונים בכל ערוץ בצד שותפי התוכן.
</p>
<p style="width: 100%" dir="rtl">
8.6 הספק ראשי להציג הטבות שונות בערוצי שותפי תוכן שונים על פי שיקול דעתו הבלעדי.
</p>
<p style="width: 100%" dir="rtl">
8.7 הספק ראשי שלא לחייב את ספקי ההטבות בגין שירות שותפי התוכן בשל קידום מכירות
ו/או צעד שיווקי והכל על פי שיקול דעתו.
</p>
<p style="width: 100%" dir="rtl">
8.8 ספקי הטבות ו/או כל לקוח שישתמש בשירות ו/או יבקש להשתמש בשירות באמצעות אחר,
הרי מעניק הסכמתו לספק לפעול לקידום ההטבות כפי שזה ימצא לנכון.
</p>

<p style="width: 100%" dir="rtl">
9. <b> שירות פייסקופ</b>	
</p>


<p style="width: 100%" dir="rtl">
9.1 הספק מציע שירות &quot;פייסקופ&quot; ו/או שם שונה אשר באמצעותו יוכלו ספקי ההטבות ליהנות
מניהול עמוד הפייסבוק שלהם באוריינטציה מכירתית.
</p>
<p style="width: 100%" dir="rtl">
9.2 התקשרות נשוא שירות זה תהא באמצעות הסכמת הצדדים במובחן מתקנון זה, אולם תקנון
זה יחול על השירות במלואו בנוסף להסכם הנפרד ככל שיחול.
</p>

<p style="width: 100%" dir="rtl">
10 <b> שירות תקציב דיגיטאלי</b>	
</p>

<p style="width: 100%" dir="rtl">
10.1 הספק מציע שירות &quot;קידום דיגיטאלי&quot; ו/או שם שונה אשר באמצעותו יוכלו ספקי ההטבות
ליהנות מקידום ההטבות ברחבי ערוצי התוכן, האינטרנט ובכלל.
</p>
<p style="width: 100%" dir="rtl">
10.2 התקשרות נשוא שירות זה תהא באמצעות הסכמת הצדדים במובחן מתקנון זה, אולם תקנון
זה יחול על שירות זה במלואו בנוסף להסכם הנפרד ככל שיחול.
</p>

<p style="width: 100%" dir="rtl">
11. <b> הצטרפות עצמאית לשירות</b>	
</p>

<p style="width: 100%" dir="rtl">
11.1 ספק השירות יציע לבעלי עסקים להצטרף לשירות באופן עצמאי.
</p>
<p style="width: 100%" dir="rtl">
11.2 הצטרפות ספק הטבות לשירות מחייב על פי תקנון זה.
</p>
<p style="width: 100%" dir="rtl">
11.3 מובהר כי בהצטרפות לשירות על המצטרפים לקרוא תקנון זה ביתר קפידה.
</p>

<p style="width: 100%" dir="rtl">
12 <b>אחריות ספקי ההטבות</b>	
</p>

<p style="width: 100%" dir="rtl">
12.1 ספקי ההטבות מחויבים לפעול בהגינות כלפי כלל המשתמשים.
</p>
<p style="width: 100%" dir="rtl">
12.2 ספקי ההטבות מחויבים לעמוד בתנאי חוקי מדינת ישראל ו/או במדינה בהם הם פועלים
בהתאמה לחוקי המדינה הקרובים ביותר לחוק בישראל.
</p>
<p style="width: 100%" dir="rtl">
12.3 ספקי ההטבות מצהירים כי הם בעלי ההרשאה, האחריות החוקית, וככאלו ימלאו וכשירים
למלא כל דרישה חוקית לעניין ההטבות אשר מסופקת על ידם.
</p>
<p style="width: 100%" dir="rtl">
12.4 ספקי ההטבות מצהירים כי יכבדו את ההטבות המוצעות על ידם בהתאם לתנאיהן ויפעלו
כבעלי עסקים סבירים.
</p>
<p style="width: 100%" dir="rtl">
12.5. ספקי ההטבות ייהנו מגישה לעריכה, מחיקה ושינויים ביחס להטבות המוצעות. מובהר, כי
כל שינוי שיעשה לאחר פרסום ההטבה באמצעות ספק השירות, יחייב את ספקי ההטבות
ביחס להטבה שהוצגה ונשמרה על ידי צרכני ההטבות.
</p>
<p style="width: 100%" dir="rtl">
12.6. עוד מובהר כי ספק השירות מנגיש את ההטבות לצרכני ההטבות ומרגע זה יש ביכולתם
לשמור את ההטבות כפי שהוצגו והוצעו להם בטרם נערכו או שונו על ידי ספקי ההטבות.
עוד מובהר כי לזכות צרכני ההטבות לדרוש את ההצעה על פי החוק. היה ותהא מחלוקת בין
ספקי ההטבות לבין צרכני ההטבות, מובהר כי הספק לא יהיה צד והמחלוקות בין הצדדים
ינוהלו בפורום המתאים בהתאם לדין האזור והחוק.
</p>

<p style="width: 100%" dir="rtl">
13 <b>פרסום הטבות בשירות</b>	
</p>

<p style="width: 100%" dir="rtl">
13.1 ספקי ההטבות יוכלו ליצור הטבות בשירות.
</p>
<p style="width: 100%" dir="rtl">
13.2 בכדי ליצור הטבה, על ספק ההטבה למלא את פרטיו, פרטי ההטבה ומתן אמצעי תשלום
לחיוב. התשלום בגין השירות הינו באמצעות PAYPAL ו/או כרטיסי אשראי בלבד.
</p>
<p style="width: 100%" dir="rtl">
13.3 לכשיסיים ספק ההטבה את הרישום ומילוי פרטי ההטבה ואמצעי התשלום, כל אלו ישלחו
לאישור אצל הספק. האישור כמוהו כתנאי לשימוש בשירות.
</p>
<p style="width: 100%" dir="rtl">
13.4 מיד בתום האישור תפורסם ההטבה בשירות.
</p>
<p style="width: 100%" dir="rtl">
13.5 הספק ראשי בכל שלב שהוא לא לאשר את ההטבה, להוריד את ההטבה מפרסום,
להשהות, לבטלה לאלתר ו/או לא לפרסמה, הכול בהתבסס על השיקולים הבאים:
</p>
<p style="width: 100%" dir="rtl">
13.5.1 יש בפרסום איסור חוקי ו/או הגבלה מסחרית בנוגע לתוכן המפורסם.
</p>
<p style="width: 100%" dir="rtl">
13.5.2 יש בתוכן המפורסם חשש לפגיעה בציבור
</p>
<p style="width: 100%" dir="rtl">
13.5.3 אין כדאיות מסחרית בפרסום מהסוג המבוקש.
</p>
<p style="width: 100%" dir="rtl">
13.5.4 הפרסום פוגע באינטרסים המסחריים של הספק.
</p>
<p style="width: 100%" dir="rtl">
13.5.5 קטגוריה הפרסום הרלוונטית עמוסה מידי ואין מקום לפרסום נוסף.
</p>
<p style="width: 100%" dir="rtl">
13.5.6 הפרטים שנמסרו על ידי ספק ההטבה לא הושלמו ו/או לא מולאו כהלכה.
</p>
<p style="width: 100%" dir="rtl">
13.5.7 אמצעי התשלום אינו תקין ו/או אינו מתאים.
</p>
<p style="width: 100%" dir="rtl">
13.5.8 נתקבלו תלונות בנוגע לספק ההטבה ו/או התוכן המוצג.
</p>
<p style="width: 100%" dir="rtl">
13.5.9 יש חשד כי ההטבה מכילה הטעיה ו/או תרמית.
</p>
<p style="width: 100%" dir="rtl">
13.5.10 מובהר כי רשימה זו לא סגורה והספק רשאי לשנות ו/או להוסיף לה סייגים נוספים והכול על
פי שיקול דעתו הבלעדי.
</p>
<p style="width: 100%" dir="rtl">
13.6 מובהר כי חל איסור לפרסום דברי פורנו, הימורים ותרופות לא חוקיות לרבות סמים וכן כל
שנאסר בפרסום על ידי החוק.
</p>
<p style="width: 100%" dir="rtl">
13.7. המוצא עצמו נפגע מהחלטת הספק בעניינים המנויים לעיל, רשאי לפנות אל הספק בכתב
והספק יבחן את הטענות בהתאמה אולם לספק תהא ההחלטה הבלעדית בנושא.
</p>

<p style="width: 100%" dir="rtl">
14 <b> עלות השירות</b>	
</p>

<p style="width: 100%" dir="rtl">
14.1 <b>השירות לצורכי ההטבות הינו חינמי לחלוטין.</b>
</p>
<p style="width: 100%" dir="rtl">
14.2<b> החברה, תוכל להציע את השירות בחינם לספקי הטבות, והכל בהתאם לתנאים שיקבעו
מעת לעת.</b>
</p>
<p style="width: 100%" dir="rtl">
14.3 ספקי ההטבות יוכלו להתקשר עם הספק באופן ישיר ולהסכים באופן שונה מן המתואר
בתקנון זה ביחס לעלויות השירות השונות, ובלבד שהסכמות אלו הוסכמו מראש, ובכתב בין
הצדדים.
</p>
<p style="width: 100%" dir="rtl">
14.4 ספקי ההטבות יוכלו לפרסם הטבה כנגד תשלום חודשי בעבור זכות זו, ובתוספת תקציב
ספציפי לכל הטבה והכול כמתואר מטה:

</p>

<img src="http://coupit.co.il/img/term.png"/>


<p style="width: 100%" dir="rtl">
15 <b>מדיניות ביטולים</b>	
</p>

<p style="width: 100%" dir="rtl">
15.1 ספקי ההטבות רשאים לבטל עסקה מול הספק בכל רגע נתון, ובתנאי שבקשת הביטול
תועבר בפקס ו/או בדוא&quot;ל לספק (להלן: &quot;מבקש הביטול&quot; ובהתאמה &quot;הודעת הביטול&quot;).
</p>
<p style="width: 100%" dir="rtl">
15.2 על מבקש הביטול, לוודא קבלת הודעת הביטול מול הספק.
</p>

<p style="width: 100%" dir="rtl">
15.3 בקבלת הודעת ביטול, יסיר הספק את ההטבה בתוך 3 שעות בימי עסקים, ועד 48 שעות
בימי המנוחה.
</p>




<p style="width: 100%" dir="rtl">
15.4 חיובים שנזקפו לחובת מבקש הביטול עד להסרת ההטבה, יחויבו על ידי הספק. מובהר כי
דמי השימוש החודשיים ככל שיחולו, לא יזוכו בשום צורה שהיא.
</p>
<p style="width: 100%" dir="rtl">
15.5 היה וביטל ספק השירות את ההטבה ואינו מסכים לכבדה על ידי צרכני הטבות המבקשים
לממשה, הרי שלצרכני ההטבה אין ולא תהא כל טענה כלפי ספק השירות אולם תעמוד להם
הזכות לתבוע את הספק על פי החוק.
</p>
<p style="width: 100%" dir="rtl">
15.6 חובתו של ספק ההטבות כלפי צרכני ההטבות אינה מסתיימת עם בקשתו להסיר את
ההטבה מן השירות. ספק ההטבה ימשיך לחוב באחריות למתן ההטבה כל עוד זו נשמרה
על ידי צרכני ההטבות אשר ידרשו מימושה בבית העסק של ספק ההטבות.
</p>
<p style="width: 100%" dir="rtl">
15.7 מובהר כי חובתם של ספקי ההטבות ביחס להטבה ולכיבודה מסתיימת אך ורק בתום המועד
שנקבע לה מראש בעת יצירתה. ספק השירות מתחייב רק להסיר את ההטבה כאמור
במדיניות זו והחל מרגע ההסרה זו לא תוצע יותר לצרכני הטבות עתידיות זאת בצד חובתו
של ספק ההטבה לכבדה כלפי אלו ששמרו אותו בטרם הוסרה מן השירות.
</p>

<p style="width: 100%" dir="rtl">
16 <b> שונות</b>	
</p>

<p style="width: 100%" dir="rtl">
16.1 נותן השירות, מעניק את השירות לשני סוגי משתמשים, מסחריים ופרטיים.
</p>
<p style="width: 100%" dir="rtl">
16.2 השירות המוענק למשתמשים המסחריים והפרטיים ניתן על פי תקנון זה.
</p>
<p style="width: 100%" dir="rtl">
16.3 החברה שומרת לעצמה הזכות לשנות תקנון זה מעת לעת, ללא שתמסור על כך הודעה
מראש. החובה להתעדכן חלה על המשתמשים.
</p>
<p style="width: 100%" dir="rtl">
16.4 ספק השירות מעניק את השירות בכפוף ורק על פי תקנון זה.
</p>
<p style="width: 100%" dir="rtl">
16.5 מקום בו יש סתירה או אי-התאמה בין האמור בתקנון זה ובין האמור במקום כלשהו באתר,
באפליקציה, או בכל מדיה אחרת, או בכל מקום אחר - יגבר האמור בתקנון זה, מבלי קשר
למועדי הפרסום השונים ככל שיהיו. עוד מובהר כי גם התייחסות ספציפית לא תגבר על
האמור בתקנון ולכן על כלל המשתמשים וספקי ההטבות לקרוא בעיון תקנון זה.
</p>
<p style="width: 100%" dir="rtl">
16.6 ספק השירות יהא רשאי לחלוק ולהעביר את ההטבות המפורסמות בשירות לפלטפורמות
שיווק נוספות ככל שימצא לנכון והכול על פי שיקול דעתו אלא אם ביקש ספק ההטבה
במפורש שלא יעשה זאת. במקרה זה, ובאם לא הייתה התנגדות מצדו של ספק ההטבה,
לא תשמע כל טענה מצד ספקי ההטבות וכן לא תהא כל מניעה מצדם לפעולות אלו לרבות
השימוש בתוכן, בסימן המסחרי וכל בכל קניין רוחני שפורסם בהטבה (להלן: &quot;פרסום
נגזר&quot;).
</p>
<p style="width: 100%" dir="rtl">
16.7 היה וספק הטבות יבקש להסיר &quot;פרסום נגזר&quot; של ההטבה בשונה מהחלטתו של ספק
השירות, יפנה ספק ההטבה לספק השירות והאחרון יסיר את ההטבה עד שלושה ימי
עסקים מן המקום בו זו פורסמה. למען ההבהרה, מקום נגזר משמעותו – כל מקום פרסום
שספק השירות החליט לפרסם בו את ההטבה בנוסף לפרסומה בשירות. במקרים בהם
הפרסום הנגזר בוצע בדפוס, הרי שלא יוכל ספק השירות להסירו ועל כן החשיבות
שבקריאת תקנון זה גבוהה, וכפועל יוצא על ספקי ההטבות לפעול בהתאמה לאמור.
</p>
<p style="width: 100%" dir="rtl">
16.8 עוד מובהר כי בהינתן פרסום נגזר, הרי שספק ההטבות מסכים כי ספק השירות יכרוך את
שמו ושם השירות בהטבה ובזכויות היוצרים, והסימנים המסחריים ככל שישנם והכל במטרה
לקידום השירות וההטבות.
</p>
<p style="width: 100%" dir="rtl">
16.9 ספקי ההטבות מאשרים לספק להשתמש בזכויות היוצרים שלהם ככל שישנם ובסימנים
המסחריים ככל שישנם, לקידום השירות וההטבות, וככזה לפרסם את האמור לעיל בין אם
במובחן ובין אם במשותף ככל שיבחר ספק השירות.
</p>
<p style="width: 100%" dir="rtl">
16.10 מובהר כי כל התקשרות עסקית בין ספקי ההטבות למשתמשים הנה עסקה ישירה בין
המשתמש לספקי ההטבות המשתמשים בשירות. ככזה, אין לראות בספק השירות ו/או
בתכניו ו/או במידע המפורסם באמצעותו על ידי המפרסמים משום המלצה ו/או חוות דעת
בקשר למוצר ו/או השירות ו/או הכדאיות ברכישתם בכל צורה שהיא.
</p>
<p style="width: 100%" dir="rtl">
16.11 על אף האמור לעיל, ספק השירות רשאי שלא לאפשר לאדם ו/או לקבוצת אנשים את
השימוש בשירות, בין אם אושר שימוש כזה בעבר ובין אם לאו, לפי שיקול דעת ספק
השירות הבלעדי, ללא צורך במתן הנמקה ו/או במתן הודעה מראש. הבהרה זו מקומה
בעובדה כי בשל דינמיות השירות, ייתכן ובקשת ספקי ההטבות ו/או אופיים לא יתאימו
למדיניות ספק השירות.
</p>
16.12 מובהר כי ספק השירות מוגבל לחוקים וכללים בינלאומיים וככאלו תהליך מיון ההטבות
בטרם יפורסמו מנוטרות על ידיו ידנית. באם בתהליך הניטור ימצאו מאפיינים שאינם
תואמים את מדיניות השירות, רשאי הספק שלא לפרסם את ההטבה.
</p>
<p style="width: 100%" dir="rtl">
16.13 המשתמשים וספקי ההטבות אחראים כלפי ספק השירות, משתמשים אחרים וספקי הטבות
אחרים בכל מעשה או מחדל בהתאם להוראות הדין.
</p>

<p style="width: 100%" dir="rtl">
17 <b>הצהרת המשתמשים וספקי ההטבות</b>	
</p>


<p style="width: 100%" dir="rtl">
17.1 כל הנמצא בשירות זה, הוא רכושה הבלעדי של החברה/ספק השירות.
</p>
<p style="width: 100%" dir="rtl">
17.2 אין לעשות שימוש בכל סימן, שם ללא רשות מפורשת מבעל זכויות היוצרים ו/או הבעלים של
הסימן המסחרי. העתקה כלשהי, הפצה, שידור, פרסום, קישור, או שינוי אחר של שירות זה
או כל הנמצא בו ללא רשות מפורשת בכתב של ספק השירות אסורה בהחלט.
</p>
<p style="width: 100%" dir="rtl">
17.3 כל הפרה של מדיניות זו עלולה לגרום להפרת זכות יוצרים, סימן מסחר או זכות קניין רוחני
אחרת אשר תחשוף את המפר לתביעות אזרחיות ו/או הליכים פליליים.
</p>
<p style="width: 100%" dir="rtl">
17.4 שירות זה כולל חומר המוגן בזכויות יוצרים, סימני מסחר וזכויות קנין רוחני אחרות, לרבות,
אך לא רק, מלל, תוכנות, תמונות, מוזיקה ווידאו, גרפיקה וסאונד, דרך פעולה וכן תוכן.
</p>
<p style="width: 100%" dir="rtl">
17.5 ספק השירות הינו בעל זכויות היוצרים בתוכן המפורסם בשירות וככזה אשר קיבל את
הסכמת ספקי ההטבות מראש לפרסום התוכן שפורסם על ידם בשירות, בסדר הבחירה,
בתיאום ובקידום של התוכן, ואף גורם אינו רשאי לשנות, לפרסם, לשדר, להשתתף
בהעברה או מכירה, ליצור יצירות נגזרות, או לנצל בדרך כלשהי את התוכן, במלואו או
בחלקו.
</p>
<p style="width: 100%" dir="rtl">
17.6 ספק השירות אינו חייב בכל חובה לספק למשתמשים באתר סימנים או כל דבר אחר שעשוי
לסייע למשתמשים לקבוע האם החומר המדובר מוגן בזכויות יוצרים או סימן מסחרי. מובהר
כי כל החומר בשירות מוגן ואין לעשות בו שימוש ללא הרשאה מראש ובכתב מאת הספק.
</p>
<p style="width: 100%" dir="rtl">
17.7 מבלי לפגוע בכלליות האמור לעיל, אין להפיץ, להעתיק, לשכפל ו/או להציג את תכולת
השירות באתרים אחרים או פרסומים אחרים, ללא אישור מראש ובכתב מהספק, לרבות
איסור על שימוש בטכניקות Framing ו- Automated Data Mining Tools. הפועל בדרך זו
צפוי לעונשים הקבועים בחוק ומאשר פיצוי מוסכם מראש של 3000$ (דולר ארה&quot;ב) לכל יום
שימוש שביצע בתכנים בשירות/בשירות וכיו&quot;ב.
</p>
<p style="width: 100%" dir="rtl">
17.8 אין לעשות שימוש בלוגו של השירות, בזכויות יוצרים ו/או בקניין רוחני כלשהו של השירות
ללא אישור מספק השירות מראש ובכתב.
</p>
<p style="width: 100%" dir="rtl">
17.9 הדין החל על כל פעולה בשירות וכן בנוגע לכל מחלוקת בשירות, הדין החל הוא הדין
הישראלי וסדרי הדין הישראלים בלבד.
</p>
<p style="width: 100%" dir="rtl">
17.10 בכל מקרה של פלוגתה בין משתמשי השירות, תהא לבתי המשפט של מחוז חיפה הסמכות
הבלעדית לדון בתביעה. מובהר כי האמור לעיל, חל גם על משתמשים שאינם תושבי ו/או
אזרחי ישראל, ובשום מקרה לא תשמע טענה לפיה ישראל אינה פורום נאות ו/או כי יש
להחיל דין זר.
</p>
<p style="width: 100%" dir="rtl">
17.11 המוצא עצמו נפגע מתקנון זה, רשאי לפנות לספק שפרטיו מופיעים לעיל לקבלת הבהרות
ו/או בבקשה למתן החרגות.
</p>

<p style="width: 100%" dir="rtl">
18 <b>פנייה ופרסום</b>	
</p>


<p style="width: 100%" dir="rtl">
18.1 כלל המשתמשים בשירות מאשרים בזאת לספק השירות להשתמש בפרטים שנמסרו לו,
ו/או פרטים שנאספו על ידו ובלבד שהמשתמשים השתמשו בשירות, לפנות אליהם בנושאי
שיווק, פרסום ועדכונים אודות נושאים שונים כפי שספק השירות ימצא לנכון.
</p>
<p style="width: 100%" dir="rtl">
18.2 ספק השירות ראשי להעביר את הפרטים שנמסרו לו במטרה לקדם פניות למשתמשים
והצעות שיווקיות שונות בהתאם לחוק התקשורת (בזק ושידורים) (תיקון מס’ 40),
התשס&quot;ח– 2008 (חוק הספאם)
</p>
<p style="width: 100%" dir="rtl">
18.3 כלל המשתמשים מסכימים לאפשר לספק השירות את הזכות לנטר, ולעקוב אחר
פעולותיהם בשירות למטרת קידומו העסקי של השירות כפי שהספק ימצא לנכון מעת לעת.
</p>

<p style="width: 100%" dir="rtl">
19 <b>פרסום מוצרים חדשים</b>	
</p>

<p style="width: 100%" dir="rtl">
19.1 הספק יאפשר ללקוחותיו לפרסם מוצרים חדשים בצד הטבות שונות.
</p>
<p style="width: 100%" dir="rtl">
19.2 מובהר, כי תנאי תקנון זה חלים ויחולו על מוצרים חדשים בהתאמה להחלתם על הטבות שונות.
</p>

<p style="width: 100%" dir="rtl">
20 <b>פרטיות ושימוש</b>	
</p>


<p style="width: 100%" dir="rtl">
20.1 הספק ראשי להעביר את פרטיהם של צרכני ההטבות לכל גורם ללא אישורו של אותו משתמש מראש ובכתב.
</p>
<p style="width: 100%" dir="rtl">
20.2 מובהר כי מדובר בסביבה מקוונת שבה אין אפשרות לאבטחה מוחלטת. מובהר כי כל
המוסר פרטים חשוף לסכנה שמה אלו יזלגו, יגנבו וכן אף קיים החשש כי תחול תקלה בגינה
פרטיו יחשפו. בהתאם לכף, כל המוסר פרטים עושה זאת על אחריותו בלבד.
</p>
<p style="width: 100%" dir="rtl">
20.3 עוד מובהר כי הספק יעשה ועושה את המאמצים לוודא כי פרטי המשתמשים ישמרו בצורה
מאובטחת ומוגנת בשרתיו.
</p>
<p style="width: 100%" dir="rtl">
20.4 מובהר כי כל אמצעי התשלום הנמסרים על ידי ספקי ההטבות אינם נשמרים בכל צורה
שהיא אצל הספק, אלא מועברים ישירות לחברת אבטחה המבצעת את הסליקה. מחלוקת
בנושאים הכרוכים בסליקות, יעמדו בין ספקי ההטבות לחברה הסולקת ולספק השירות אין
ולא תהא אחריות בנושאים אלו.
</p>
<p style="width: 100%" dir="rtl">
20.5 הספק לא יישא באחריות לכל נזק, אבדן רווחים, פגיעה בשם טוב, הסתמכות, הוצאה,
הפרת חוזה וכל היבט כלכלי נוסף מכל סוג שהוא, בין אם ישיר ובין אם עקיף שיגרם, ו/או
שעתיד להיגרם, בשל פגיעה בסודיות פרטי המשתמשים, דליפת פרטי אמצעי תשלום ו/או
פרטי ספקי ההטבות.
</p>
<p style="width: 100%" dir="rtl">
20.6 המפרסם הטבה בשירות, מאשר מראש לספק לפרסם ולקדם את תוכנה לרבות סימניה
המסחריים בשירות ופרסמום הנגזר על פי שיקול דעתו של ספק השירות.
</p>
<p style="width: 100%" dir="rtl">
20.7. מובהר, כי ביצוע רישום באתר על ידי משתמש, ו/או שימוש בשירותים מהווה הסכמה של
המשתמש לקבל דואר אלקטרוני ו/או מסרונים מספק השירות, לרבות דואר אלקטרוני ו/או
מסרונים שמטרתם לקדם את השימוש בשירות, אשר עשוי לכלול עדכונים בנושאים שונים,
פרטים על ביצוע עסקה, פרסום וכיוצ&quot;ב, ולרבות מסרים המכילים תוכן העונה על ההגדרה
&quot;דבר פרסומת&quot;, על פי תיקון 40 לחוק התקשורת (בזק ושידורים), התשמ&quot;ב-1982.
</p>
<p style="width: 100%" dir="rtl">
20.8 <b>מובהר כי הספק ראשי לשלוח פרסומים שונים ולקדם את שירותיו, אלא אם נתבקש
אחרת על ידי משתמש זה או אחר.</b>
</p>
<p style="width: 100%" dir="rtl">
20.9<b> מובהר כי הספק ראשי לעשות שימוש בפרטי המשתמשים שנאספו על ידו לקידום פנייה
של בעלי עסקים שונים אליהם.</b>
</p>
<p style="width: 100%" dir="rtl">
20.10 משתמשים שאינם רוצים לקבל דברי פרסומת, רשאים, בכל עת, להודיע לספק על רצונם
להסיר את הכתובת מרשימת הדיוור של החברה, ע&quot;י שליחת הודעה לכתובת הדואר
האלקטרוני - coupit@votalix.com
</p>
<p style="width: 100%" dir="rtl">
20.11 הספק יהיה רשאי להשתמש במידע פרטי של המשתמשים לצרכים פנימיים ועסקיים, כגון
ניתוח מידע מצרפי בדבר דפוסי רכישה והתנהגות של משתמשים ו/או ספקי הטבות, ולצרכי
תחקור תלונות ו/או ביקורות, לרבות באמצעות &quot;עוגייה&quot; (cookies).
</p>
<p style="width: 100%" dir="rtl">
20.12 כל משתמש יכול להגדיר מחדש את הדפדפן שלו כך שיסרב לקבל את ה-cookies של הספק.
</p>
<p style="width: 100%" dir="rtl">
20.13 משתמשים שיבקשו להגיש שאילתה או תלונה בקשר למוצר/שירות ספציפי, יחשבו כמי
שאישרו להעביר את פרטיהם לספק ההטבה הרלוונטי, לצורך בירור תלונתו. אין באמור
משום התחייבות של ספק השירות לטפל בתלונות באופן כלשהו או בכלל.
</p>
<p style="width: 100%" dir="rtl">
20.14 מובהר כי הספק יענה לכל בקשה למסירת מידע – כולל מידע אישי ומידע פרטי – אם תוגש
בהתאם להליך חוקי, כגון צו חיפוש, צו בית-משפט וכדומה.
</p>
<p style="width: 100% " dir="rtl">
<b>-- סוף--</b>

</p>


</div>
</div>